@import 'vars/sizes';

:host {
	.header {
		align-items: center;
		display: flex;
		height: $header-height;
		justify-content: space-between;

		.logo {
			height: 6rem;

			img {
				max-height: 100%;
				max-width: 100%;
			}
		}

		.navigation {
			align-items: center;
			display: flex;
			justify-content: center;
		}

		.actions {
			width: 10rem;
		}
	}
}
