@import 'vars/sizes';

:host {
	display: block;
	height: calc(80vh - #{$header-height});

	.top-container {
		position: relative;
		height: 100%;
	}

	.main-image {
		background-image: url('../../../../assets/images/main.jpg');
		background-position: center;
		background-size: cover;
		height: 100%;
		width: 100%;
	}

	.main-content {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
}
