@import 'scss/responsive';

* {
	box-sizing: border-box;

	&:after,
	&:before {
		box-sizing: border-box;
	}
}

html,
body {
	height: 100%;
	overflow: hidden !important;
	width: 100%;
	position: fixed; // <- block bounce on iPads (https://stackoverflow.com/a/29629214)
}

html {
	font-size: 16px;
	user-select: none;
}

body {
	font-family: Georgia, serif;
	margin: 0;
}

.main-content-padding-odd {
	padding-left: 17rem;
	padding-right: 17rem;
}

.main-content-padding-even {
	padding-left: 13rem;
	padding-right: 13rem;
}
